.contenedor-testimonio{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 13px  black;
}
.img-testimonio{
    height: 100%;
    width: auto;
}

.contendor-texto-testimonio{
  text-align: center;
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400 ;
  line-height: 1.5rem;
}
.nombre-testimonio{
font-size: 1.3rem;

}

.cargo-testimonio{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
.text-testimonio{
    font-size: 1rem;
    text-align: justify;

}